
@{
    var rolist = ViewBag.rolist;
    var zonelist = ViewBag.zonelist;

    Layout = "~/Views/Shared/_Layout.cshtml";
}



    

        <div class="col-md-6 col-sm-12">
            <!-- general form elements -->
            <div class="card card-primary">
                @using (Html.BeginForm("ExportROSheet", "Recovery", FormMethod.Post))
                {


                    <div class="card-header">
                        <h3 class="card-title">Monthly RO Sheet</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Select Month</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input class="form-control" type="month" name="from_date" required id="from-date" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Select Zone</label>
                                <select class="form-control" style="width: 100%;" name="zone_name" id="zoneName" required>
                                    <option selected="" value="">Select</option>
                                    @{
                                        foreach (System.Data.DataRow zone in zonelist.Rows)
                                        {
                                            <option value="@zone["ZONE_NAME"]">@zone["ZONE_NAME"]</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Select RO</label>
                                <select class="form-control select2" style="width: 100%;" name="ro_code" id="ro-code">
                                    <option selected="" data-ro="" value="">Select</option>

                                    @{
                                        foreach (System.Data.DataRow ro in rolist.Rows)
                                        {
                                            <option data-ro="@ro["RO_NAME"]" value="@ro["RO_CODE"]">@ro["RO_CODE"] - @ro["RO_NAME"]</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>


                        

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button id="btn-get-ro-sheet" class="btn btn-primary" type="button">Submit</button>
                        <input id="btn-export-to-excel" class="btn btn-outline-primary pull-right" type="button" value="Export to Excel" />

                    </div>
                                    }
                </div>
          
        </div>
        <!-- /.card -->



        <div class="card col-sm-12 col-md-12">
            <div class="card-header">
                

            </div>
            <!-- /.card-header -->
            <div class="card-body">





                @*<button type="button" class="btn btn-block btn-outline-primary" onclick="tableToExcel('dailyStockReport', 'dailyStockReport')">Export to Excel</button>*@
                <div class="table">
                    <!--<table id="dailyStockReport" class="table table-bordered table-striped table-condensed display nowrap" style="width:100%">-->
                    <table id="ro-table" class="table-responsive table-striped nowrap">
                        <thead id="report-header">
                            <tr>
                                <th nowrap>SL No.</th>
                                <th nowrap>Order No</th>
                                <th nowrap>Customer Name</th>
                                <th nowrap>RO Name</th>
                                <th nowrap>Reg. No.</th>
                                <th nowrap>Model</th>
                                <th nowrap>1st EMI DT. </th>
                                <th nowrap>EMI AMT.</th>
                                <th nowrap>Target Inst. Amt.</th>
                                <th nowrap>No. of OVD.</th>
                                <th nowrap>MR Coll.</th>
                                <th nowrap>DP+DC Due</th>
                                <th nowrap>INST DC</th>
                                <th nowrap>Overdue</th>
                                <th nowrap>Monthly Coll.</th>
                                <th nowrap>Inst Coll.</th>
                                <th nowrap>Atten V.</th>
                            </tr>
                        </thead>
                        <tbody id="ro-tbody">
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
 

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btn-export-to-excel').onclick = function () {
            alert("clicked!");
            var table = document.getElementById("ro-table");

            var from_date = document.getElementById('from-date').value;
            var ro_code = document.getElementById('ro-code').value;

            var zone_name = document.getElementById('zone-name').value;
            location('roSheet?from_date=' + from_date + '&');
            location.href = 'roSheet?from_date=' + from_date+ '&';


            (async () => {
                const rawResponse = await fetch('ExportROSheet', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ from_date: from_date, ro_code: ro_code, zone_name: '' })
                });
                location.href = 'roSheet';


            })();

        }

        document.getElementById('btn-get-ro-sheet').onclick = function () {

            var table = document.getElementById("ro-table");

            var from_date = document.getElementById('from-date').value;
            var ro_code = document.getElementById('ro-code').value;

            var zone_name = document.getElementById('zoneName').value;


            (async () => {
                const rawResponse = await fetch('GetJsonROList', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ from_date: from_date, ro_code: ro_code, zone_name: zone_name })
                });
                const rolist = await rawResponse.json();
                if (rolist.length == 0) {
                    alert("Please Set Apropriate Date and RO");
                }
                var i = 0;
                document.querySelector('#ro-tbody').innerHTML = '';
                rolist.forEach(ro => {
                    i += 1;
                    row = `<tr>
                                <td nowrap>${i}</td>
                                <td nowrap>${ro["ORDER_NO"]}</td>
                                <td nowrap>${ro["CUSTOMER_NAME"]}</td>
                                <td nowrap>${ro["RO_NAME"]}</td>
                                <td nowrap>${ro["REGNO"]}</td>
                                <td nowrap>${ro["CATALOG_NO"]}</td>
                                <td nowrap>${ro["FSTINSAL_DATE"]}</td>
                                <td nowrap>${ro["EMI_AMOUNT"]}</td>
                                <td nowrap>${ro["TAR_INST_AMT"]}</td>
                                <td nowrap>${ro["NO_OF_OVERDUE"]}</td>
                                <td nowrap>${ro["MR_COLL"]}</td>
                                <td nowrap>${ro["DP_DC_PAYMENT"]}</td>
                                <td nowrap>${ro["INS_DC_PAYMENT"]}</td>
                                <td nowrap>${ro["OVERDUE"]}</td>
                                <td nowrap>${ro["MONTHLY_COLL"]}</td>
                                <td nowrap>${ro["INST_COLL"]}</td>
                                <td nowrap>${ro["ATTEN_V"]}</td>
                           </tr>`;
                    document.querySelector('#ro-tbody').innerHTML += row;

                });

                console.log(rolist);


            })();

        }






        document.getElementById('zoneName').addEventListener('change', function () {
            var from_date = document.getElementById('from-date').value;
            var zone_name = document.getElementById('zoneName').value;

            if (from_date == '') {
                alert('select month!');
                document.getElementById('zoneName').value = "";
            } else {
                (async () => {
                    const rawResponse = await fetch('GetJsonROListByZone', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ from_date: from_date, zone_name: zone_name })
                    });
                    const rolist = await rawResponse.json();
                    if (rolist.length == 0) {
                        alert("No RO Found!");
                    }
                    document.querySelector('#ro-code').innerHTML = '';
                    row = `<option value="">Select</option>`
                    rolist.forEach(ro => {
                        row += `<option value=${ro["RO_CODE"]}>${ro["RO_NAME"]}</option>`
                    });

                    document.querySelector('#ro-code').innerHTML = row;

                    console.log(rolist);
                })();
            }
        });








    });




</script>

<script>
</script>