@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    @Styles.Render("~/Content/plugins/fontawesome-free/css/all.min.css")
    @Styles.Render("~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css")
    @Styles.Render("~/Content/adminlte.min.css")
<style>

    .login-banner {
        height: 10em;
        background-image: url( @Url.Content("~/Content/images/banner.jpg") );
        background-color: #cccccc;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .my-bg {
            position: relative;
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .my-bg::before {
        content: "";
        background-image: url( @Url.Content("/Content/images/ifad-wave.png") );
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1;
    }

</style>
</head>



<body class="hold-transition login-page my-bg">
    <div class="login-box">
        
        <div class="login-logo">
            <!-- <img src="~/Content/images/logo.png"  /><a href="#">Autos Limited</a> -->
        </div>
        <!-- /.login-logo -->
        <div class="card">
            @*<div class="login-banner">
            </div>*@

            <div class="card-body login-card-body">

                <div class="login-header">
                    <img src="~/Content/images/logo.png" /><a href="#"> Autos Limited</a>
                </div>


                <br />

                <p class="login-box-msg">Sign in to start your session</p>

                @using (Html.BeginForm("Verify", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="User ID" name="user_id" required="required" autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password" required="required">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

</body>
</html>
