@{

    System.Data.DataTable menuAccess = Session["menuAccess"] as System.Data.DataTable;
    var UserName = Session["user_name"];
    var UserId = Session["user_id"];
    var user_image = UserId + ".jpg";

    var user_image_path = Url.Content("~/Content/images/" + user_image);

    var mapPath = Server.MapPath("~/Content/images/" + user_image);


    if (!File.Exists(mapPath))
    {
        user_image_path = Url.Content("~/Content/dist/img/ifad-wave.png");
    }

}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="@(Url.Content("~/Content/dist/img/ifad-wave.png"))" alt="Logo" class="brand-image" style="opacity: .8">
        <span class="brand-text font-weight-light">IFAD Autos Ltd</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <a class="image" id="profile_pic" href="~/User/UpdateProfilePicture">
                <img src="@user_image_path" class="img-circle elevation-2" alt="User Image">

            </a>
            <div class="info">
                <a href="#" class="d-block">
                    @UserName
                </a>
            </div>
        </div>

        <!-- SidebarSearch Form
               <div class="form-inline">
                   <div class="input-group" data-widget="sidebar-search">
                       <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                       <div class="input-group-append">
                           <button class="btn btn-sidebar">
                               <i class="fas fa-search fa-fw"></i>
                           </button>
                       </div>
                   </div>
               </div>
        -->
        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @{
                    if (menuAccess != null && menuAccess.Rows.Count > 0)
                    {
                        var mainMenu = menuAccess.Select("MENU_PARENT = 0");

                        foreach (System.Data.DataRow dr in mainMenu)
                        {
                            var childMenu = menuAccess.Select("MENU_PARENT =" + dr["MENU_ID"]);
                            if (childMenu.Length > 0)
                            {
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>
                                            @dr["MENU_LABEL"]
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        @{
                                            foreach (System.Data.DataRow sm in childMenu)
                                            {

                                                <li class="nav-item">

                                                    <a href="~/@sm["MENU_LINK"]" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@sm["MENU_LABEL"]</p>
                                                    </a>
                                                </li>

                                            }
                                        }
                                    </ul>
                                </li>



                            }
                            else
                            {

                                <li class="nav-item">
                                    <a href="~/@dr["MENU_LINK"]" class="nav-link">
                                        <i class="nav-icon fas fa-tachometer-alt"></i>
                                        <p>
                                            @dr["MENU_LABEL"]
                                        </p>
                                    </a>
                                </li>

                            }

                        }

                    }
                }


            </ul>





        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>


