
@{
    ViewBag.Title = "DailyStockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<style>
    #report-header {
        /* Background color */
        background-color: white;
        /* Stick to the left */
        /*z-index: 9999 !important;*/
    }
</style>


<div class="card">
    <div class="card-header">
        @using (Html.BeginForm("ExportDailyStockReport", "Inventory", FormMethod.Post))
        {
            <input class="btn btn-outline-primary" type="submit" value="Export to Excel" />
        }

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="table">
            <table id="dailyStockReport2" class="table table-bordered table-striped table-condensed display nowrap daily-stock-report2 dailyStockReport" style="width:100%">
                <thead id="report-header">
                    <tr>
                        <th rowspan="2">SL No</th>
                        <th rowspan="2">Segment</th>
                        <th rowspan="2">Model</th>
                        <th rowspan="2">Total Qty</th>
                        <th colspan="4">Dhamrai CKD</th>
                        <th colspan="4">Dhamrai CBU </th>
                        <th colspan="4">Joydevpur</th>
                        <th colspan="4">Chattagram</th>
                        <th colspan="4">Cumilla</th>
                        <th colspan="4">Jashore</th>
                        <th colspan="4">Bogra</th>
                        <th colspan="4">Total</th>
                        <th rowspan="2">Fair & Demo</th>
                        <th rowspan="2">Dealer Point Display</th>
                        <th rowspan="2">Outside Body W/S</th>
                        <th rowspan="2">Bus Body</th>
                        <th rowspan="2">Total OT Stock</th>
                        <th rowspan="2">LC</th>
                    </tr>
                    <tr class="sticky-header">
                        <!--Dhamrai CKD-->
                        <th>RFD</th>
                        <th nowrap>DO ISSUED</th>
                        <th>Booked</th>
                        <th>PDI/PTS</th>
                        <!--Dhamrai CBU-->
                        <th>RFD</th>
                        <th nowrap>DO ISSUED</th>
                        <th>Booked</th>
                        <th>PDI/PTS</th>
                        <!--Joydevpur-->
                        <th>RFD</th>
                        <th nowrap>DO ISSUED</th>
                        <th>Booked</th>
                        <th>PDI/PTS</th>
                        <!--Chattagram-->
                        <th>RFD</th>
                        <th nowrap>DO ISSUED</th>
                        <th>Booked</th>
                        <th>PDI/PTS</th>
                        <!--Cumilla-->
                        <th>RFD</th>
                        <th nowrap>DO ISSUED</th>
                        <th>Booked</th>
                        <th>PDI/PTS</th>
                        <!--Jassore-->
                        <th>RFD</th>
                        <th nowrap>DO ISSUED</th>
                        <th>Booked</th>
                        <th>PDI/PTS</th>
                        <!--Bogra-->
                        <th>RFD</th>
                        <th nowrap>DO ISSUED</th>
                        <th>Booked</th>
                        <th>PDI/PTS</th>
                        <!--Total-->
                        <th>RFD</th>
                        <th nowrap>DO ISSUED</th>
                        <th>Booked</th>
                        <th>PDI/PTS</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        foreach (System.Data.DataRow stock in ViewBag.stocklist.Rows)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@stock["PART_SEGMENT"]</td>
                                <td nowrap>@stock["MODEL"]</td>
                                <td>@stock["TOTAL_QTY"]</td>
                                <!--Dhamrai CKD-->
                                <td>@stock["DHAMRAI_CKD_XX_RFD"]</td>
                                <td>@stock["DHAMRAI_CKD_XX_DO_ISSUED"]</td>
                                <td>@stock["DHAMRAI_CKD_XX_BOOKED_DAP"]</td>
                                <td>@stock["DHAMRAI_CKD_XX_PDI_PTS"]</td>
                                <!--Dhamrai CBU-->
                                <td>@stock["DHAMRAI_CBU_XX_RFD"]</td>
                                <td>@stock["DHAMRAI_CBU_XX_DO_ISSUED"]</td>
                                <td>@stock["DHAMRAI_CBU_XX_BOOKED_DAP"]</td>
                                <td>@stock["DHAMRAI_CBU_XX_PDI_PTS"]</td>
                                <!--Joydevpur-->
                                <td>@stock["JOYDEBPUR_XX_RFD"]</td>
                                <td>@stock["JOYDEBPUR_XX_DO_ISSUED"]</td>
                                <td>@stock["JOYDEBPUR_XX_BOOKED"]</td>
                                <td>@stock["JOYDEBPUR_XX_PDI_PTS"]</td>
                                <!--Chattagram-->
                                <td>@stock["CHATTOGRAM_XX_RFD"]</td>
                                <td>@stock["CHATTOGRAM_XX_DO_ISSUED"]</td>
                                <td>@stock["CHATTOGRAM_XX_BOOKED"]</td>
                                <td>@stock["CHATTOGRAM_XX_PDI_PTS"]</td>
                                <!--Cumilla-->
                                <td>@stock["CUMILLA_XX_RFD"]</td>
                                <td>@stock["CUMILLA_XX_DO_ISSUED"]</td>
                                <td>@stock["CUMILLA_XX_BOOKED"]</td>
                                <td>@stock["CUMILLA_XX_PDI_PTS"]</td>
                                <!--Jashore-->
                                <td>@stock["JASHORE_XX_RFD"]</td>
                                <td>@stock["JASHORE_XX_DO_ISSUED"]</td>
                                <td>@stock["JASHORE_XX_BOOKED"]</td>
                                <td>@stock["JASHORE_XX_PDI_PTS"]</td>
                                <!--Bogra-->
                                <td>@stock["BOGRA_XX_RFD"]</td>
                                <td>@stock["BOGRA_XX_DO_ISSUED"]</td>
                                <td>@stock["BOGRA_XX_BOOKED"]</td>
                                <td>@stock["BOGRA_XX_PDI_PTS"]</td>
                                <!--Total-->
                                <td>@stock["RFD"]</td>
                                <td>@stock["DO_ISSUED"]</td>
                                <td>@stock["BOOKED"]</td>
                                <td>@stock["PDI_PTS"]</td>
                                <!--Others-->
                                <td>@stock["FAIR_DEMO_QTY"]</td>
                                <td>@stock["DEALER_PD_QTY"]</td>
                                <td>@stock["OUTSIDE_BWS_QTY"]</td>
                                <td>@stock["BUS_BODY_QTY"]</td>
                                <td>@stock["TOTAL_OT_QTY"]</td>
                                <td>@stock["LC_QTY"]</td>
                            </tr>

                            i++;
                        }
                    }
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.dailyStockReport').DataTable({
                dom: 'Bfrtip',
                "ordering": false,
                buttons: [
                    {
                        extend: 'excel',
                        customize: function (xlsx) {
                            //Apply styles, Center alignment of text and making it bold.
                            var sSh = xlsx.xl['styles.xml'];
                            var lastXfIndex = $('cellXfs xf', sSh).length - 1;

                            var n1 = '<numFmt formatCode="##0.0000%" numFmtId="300"/>';
                            var s2 = '<xf numFmtId="0" fontId="2" fillId="0" borderId="0" applyFont="1" applyFill="0" applyBorder="0" xfId="0" applyAlignment="1">' +
                                '<alignment horizontal="center"/></xf>';

                            sSh.childNodes[0].childNodes[0].innerHTML += n1;
                            sSh.childNodes[0].childNodes[5].innerHTML += s2;

                            var greyBoldCentered = lastXfIndex + 1;

                            //Merge cells as per the table's colspan
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];
                            var dt = $('#tblReport').DataTable();
                            var frColSpan = $(dt.table().header()).find('th:nth-child(1)').prop('colspan');
                            var srColSpan = $(dt.table().header()).find('th:nth-child(2)').prop('colspan');
                            var columnToStart = 2;

                            var mergeCells = $('mergeCells', sheet);
                            mergeCells[0].appendChild(_createNode(sheet, 'mergeCell', {
                                attr: {
                                    ref: 'A1:' + toColumnName(frColSpan) + '1'
                                }
                            }));

                            mergeCells.attr('count', mergeCells.attr('count') + 1);

                            var columnToStart = 2;

                            while (columnToStart <= frColSpan) {
                                mergeCells[0].appendChild(_createNode(sheet, 'mergeCell', {
                                    attr: {
                                        ref: toColumnName(columnToStart) + '2:' + toColumnName((columnToStart - 1) + srColSpan) + '2'
                                    }
                                }));
                                columnToStart = columnToStart + srColSpan;
                                mergeCells.attr('count', mergeCells.attr('count') + 1);
                            }

                            //Text alignment to center and apply bold
                            $('row:nth-child(1) c:nth-child(1)', sheet).attr('s', greyBoldCentered);
                            for (i = 0; i < frColSpan; i++) {
                                $('row:nth-child(2) c:nth-child(' + i + ')', sheet).attr('s', greyBoldCentered);
                            }

                            function _createNode(doc, nodeName, opts) {
                                var tempNode = doc.createElement(nodeName);
                                if (opts) {
                                    if (opts.attr) {
                                        $(tempNode).attr(opts.attr);
                                    }
                                    if (opts.children) {
                                        $.each(opts.children, function (key, value) {
                                            tempNode.appendChild(value);
                                        });
                                    }
                                    if (opts.text !== null && opts.text !== undefined) {
                                        tempNode.appendChild(doc.createTextNode(opts.text));
                                    }
                                }
                                return tempNode;
                            }

                            //Function to fetch the cell name
                            function toColumnName(num) {
                                for (var ret = '', a = 1, b = 26; (num -= a) >= 0; a = b, b *= 26) {
                                    ret = String.fromCharCode(parseInt((num % b) / a) + 65) + ret;
                                }
                                return ret;
                            }
                        }
                    }],
                scrollY: 700,
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                fixedColumns: {
                    left: 4
                },
                fixedHeader: {
                    header: true,
                },

            });
      
            $('#dailyStockReport1').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });


            $(".dailyStockReport td").each(function () {
                var val = $(this).text();
                var intVal = parseInt(val);
                if (intVal == 0) {
                    $(this).text("");
                
                }
            })
        });
    </script>
    
}


